---
### Common Playbook 
- name: Common | Setup the base common on all servers
  hosts: all
  gather_facts: True
  remote_user: root
  sudo: True

  # Define variables 
  ## - its always better to be done in group_vars or host_vars
  vars:
    _sshd_port: 22

  # Common Roles
  roles:
    - yumrepos
    - selinux
    - hostname
    - hosts
    - sysctl
    - limits
    - ntp
    - users
    - sudo
    - {role: iptables, iptables_accept_ports: [$_sshd_port, 80, 443]}
    - packages
    - logwatch
    - rkhunter
    - {role: sshd, sshd_port: $_sshd_port, sshd_permit_root_login: "yes"}
